#!/usr/bin/env /lib/runit/invoke-run

set -e

NAME=cosmovisor
DAEMON_NAME={{ daemon_name }}
DAEMON_HOME={{ daemon_home }}
USER={{ daemon_user }}

exec 2>&1

echo "Starting $NAME..."
DAEMON_NAME=$DAEMON_NAME DAEMON_HOME=$DAEMON_HOME DAEMON_ALLOW_DOWNLOAD_BINARIES=true HOME=/home/$USER exec chpst -u $USER /usr/local/bin/cosmovisor run start
