#!/bin/sh

set -e

# ansible.builtin.template
DAEMON_NAME={{ daemon_name }}
DAEMON_HOME={{ daemon_home }}
REGION_ID={{ region_id }}
CHAIN_ID={{ chain_id }}
BOND_DENOM={{ bond_denom }}
BALANCE={{ balance }}
DELEGATION={{ delegation }}

VALIDATOR_NODE_ID={{ validator.node_id }}
VALIDATOR_PUBLIC_KEY={{ validator.public_key }}

daemon=$DAEMON_HOME/cosmovisor/current/bin/$DAEMON_NAME

# generate operator's key
operator_name=operator
operator_address=$($daemon keys add $operator_name 2>&1 | jq -er .address)

# add operator's account into genesis
if ! $daemon genesis add-genesis-account $operator_address $BALANCE$BOND_DENOM # no output
then
	$daemon add-genesis-account $operator_address $BALANCE$BOND_DENOM # no output
fi

# generate gentx
validator_ipv4_address=0.0.0.0
validator_moniker=validator@$REGION_ID
if ! $daemon genesis gentx --chain-id $CHAIN_ID $operator_name $DELEGATION$BOND_DENOM --pubkey "$(printf $VALIDATOR_PUBLIC_KEY | base64 -d)" --node-id $VALIDATOR_NODE_ID --ip $validator_ipv4_address --moniker $validator_moniker
then
	$daemon gentx --chain-id $CHAIN_ID $operator_name $DELEGATION$BOND_DENOM --pubkey "$(printf $VALIDATOR_PUBLIC_KEY | base64 -d)" --node-id $VALIDATOR_NODE_ID --ip $validator_ipv4_address --moniker $validator_moniker
fi

# export gentx
mv $DAEMON_HOME/config/gentx/gentx-$VALIDATOR_NODE_ID.json gentx.json
rm -rf $DAEMON_HOME/config/gentx
