#!/bin/sh

set -e

# ansible.builtin.template
DAEMON_NAME={{ daemon_name }}
DAEMON_HOME={{ daemon_home }}
REGION_ID={{ region_id }}
CHAIN_ID={{ chain_id }}
HOSTNAME={{ inventory_hostname }}
TYPE={{ type }}

# init cosmovisor
mkdir genesis
tar -xzf bundle.tar.gz -C genesis/
DAEMON_NAME=$DAEMON_NAME DAEMON_HOME=$DAEMON_HOME cosmovisor init genesis/$DAEMON_NAME
cp -r genesis $DAEMON_HOME/cosmovisor/
mkdir $DAEMON_HOME/data
daemon=$DAEMON_HOME/cosmovisor/current/bin/$DAEMON_NAME
rm -r genesis

# init daemon and store node id
moniker=$HOSTNAME@$REGION_ID
node_id=$($daemon init --chain-id $CHAIN_ID $moniker 2>&1 | jq -er .node_id)

# store consensus public key
pubkey_type=$(jq -er .pub_key.type $DAEMON_HOME/config/priv_validator_key.json)
case $pubkey_type in
	tendermint/PubKeyEd25519)
		pubkey_url=/cosmos.crypto.ed25519.PubKey
		;;

	*)
		echo consensus key type not supported: $pubkey_type
		false
		;;
esac

pubkey_key=$(jq -er .pub_key.value $DAEMON_HOME/config/priv_validator_key.json)

# set local facts
facts_dir=/etc/ansible/facts.d
cat <<EOF >$facts_dir/daemon.fact
{
  "node_id": "$node_id",
  "region_id": "$REGION_ID",
  "chain_id": "$CHAIN_ID",
  "public_key": "$(printf '{"@type":"'$pubkey_url'","key":"'$pubkey_key'"}' | base64 -w 0)"
}
EOF
