#!/bin/sh

set -e

# ansible.builtin.template
DAEMON_NAME={{ daemon_name }}
DAEMON_HOME={{ daemon_home }}
NAME={{ name }}
OPERATOR_NAME={{ operator }}

VALIDATOR_NODE_ID={{ validator.node_id }}
VALIDATOR_PUBLIC_KEY={{ validator.public_key }}

daemon=$DAEMON_HOME/cosmovisor/current/bin/$DAEMON_NAME

operator_address=$($daemon keys show $OPERATOR_NAME --address --bech val)
validator_ipv4_address=0.0.0.0
validator_moniker=validator@$REGION_ID
if ! $daemon query staking validator $operator_address
then
	_response=$($daemon tx staking create-validator --amount $DELEGATION$BOND_DENOM --pubkey "$(printf $VALIDATOR_PUBLIC_KEY | base64 -d)" --node-id $VALIDATOR_NODE_ID --ip $validator_ipv4_address --moniker $validator_moniker)
	[ -n "$_response" ]

	_txhash=$(printf "$_response" | jq -er .txhash)
	while ! $daemon query tx $_txhash
	do
		sleep 1
	done
fi
