#!/bin/sh

set -e

# ansible.builtin.template
DAEMON_NAME={{ daemon_name }}
DAEMON_HOME={{ daemon_home }}
NAME={{ name }}

daemon=$DAEMON_HOME/cosmovisor/current/bin/$DAEMON_NAME

if ! $daemon keys show $NAME
then
	$daemon keys add $NAME
fi
